@import "colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  background: $light-blue;
}

header {
  background: $dark-gray;
  color: white;

  nav {
    display: block;
    padding: 1.4em 2em;
    display: flex;
    align-items: center;

    h1 {
      font-size: 2em;
      padding: 0 1em;
    }

    img {
      width: 50px;
    }
  }
}
