@import "colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  background: $light-blue;
}

header {
  background: $dark-gray;
  color: white;

  nav {
    display: block;
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;

    h1 {
      font-size: 2rem;
      padding: 0 1rem;
    }

    img {
      width: 50px;
    }
  }
}

.panel {
  width: 500px;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);

  .header {
    width: 100%;
    padding: 0.8rem;
    background: $gray;
    color: white;
    text-align: center;

    p {
      font-size: 1.2rem;
    }
  }

  .body {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

.number-field {
  display: flex;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;

  button {
    padding: 0.5rem 1rem;
    border: none;
    background: $light-gray;
    border-radius: none;
    color: white;
    position: relative;

    &:hover {
      background: darken($light-gray, 10%);
    }

    &:active {
      background: darken($light-gray, 30%);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.12);
    }

    &:nth-child(2) {
      border-left: 1px solid white;
    }

    &:nth-child(4) {
      border-right: 1px solid white;
    }
  }

  input {
    width: 100px;
    border: none;
    text-align: center;
    outline: none;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
